<section id="about" class="section section--huge">
	<div class="container">
		<h1 class="section__title mrgb+">{{ t.about.title }}</h1>
		<div class="media media--responsive">
			<div class="media__left">
				<img src="assets/images/illu-about.png" alt="text alt" title="plante verte" class="media__img">
			</div>
			<div class="media__body">
				<p>{{ t.about.content-1 }}</p>
				<p>{{ t.about.content-2 }}</p>
				<p>{{ t.about.content-3 }}</p>
				<p>{{ t.about.content-4 }}</p>
			</div>
		</div>
	</div>
</section>
