<section class="section section--huge" id="about">
	<div class="container">
		<h1 class="section__title mrgb+ text-center">{{ t.about.title }}</h1>
		<div class="grid grid--multiline">
			<div class="sm-w-2/5 grid__item">
	    		<img src="assets/images/illu-about.jpg" class="img-block resize__lg pdgt+ align-center">
	    	</div>
	    	<div class="sm-w-3/5 grid__item">
    			<div class="box box--primary">
		    		<p>{{ t.about.content-1 }}</p>
					<p>{{ t.about.content-2 }}</p>
					<p>{{ t.about.content-3 }}</p>
					<p>{{ t.about.content-4 }}</p>
				</div>
	       	</div>
		</div>
	</div>
</section>