<section id="about" class="section section--huge">
	<div class="container">
		<h1 class="section__title mrgb+">{{ t.about.title }}</h1>
		<div class="media media--responsive md-mrgh">
			<div class="media__left">
				{% for about in site.data.about %}
		        	<img src="{{ about.image | prepend:site.baseurl }}" alt="{{ about.alt }}" class="media__img">
				{% endfor %}
			</div>
			<div class="media__body">
				<p>{{ t.about.content-1 }}</p>
				<p>{{ t.about.content-2 }}</p>
				<p>{{ t.about.content-3 }}</p>
				<p>{{ t.about.content-4 }}</p>
			</div>
		</div>
	</div>
</section>
