<section class="section section--huge">
  <div class="container">
    <div class="grid grid--multiline">
      <div class="sm-w-1/2 grid__item">
        <div class="box box--default pusher pusher--vertical">
          <h1 class="mrgb+ text-center">Contact</h1>
          <address class="text-center text-large">
            <span class="text-bold">Let it Shine!</span> <br>
            1004, Lausanne <br>
            <a href="mailto:masha@letitshine.ch">masha@letitshine.ch</a>
          </address>
        </div>
      </div>
      <div class="sm-w-1/2 grid__item xs-mrgt">
        <div class="box box--default">
          <h1 class="mrgb+ text-center">Partenaires</h1>
          <div class="grid grid--multiline">
              <div class="container sm-w-1/2 grid__item xs-mrgt"> <!-- modifier ici les classes pour affichage partenaires -->
                <a href="http://www.osirisfleurs.ch/" target="_blank">
                  <img class="img-block" src="{{ "/assets/images/osiris-capture.PNG" | prepend: site.baseurl }}">
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>