<section class="section section--huge" id="contact">
	<div class="container">
		<div class="grid grid--multiline">
			<div class="sm-w-1/2 grid__item">
				<h1 class="mrgb+ text-center">Contact</h1>
				<address class="text-center text-large">
					<span class="text-bold">Let it Shine!</span> <br>
					1004, Lausanne <br>
					<a href="mailto:masha@letitshine.ch">masha@letitshine.ch</a> <br>
					+41 (0) 79 275 90 63
				</address>
			</div>
			<div class="sm-w-1/2 grid__item xs-mrgt">
				<h1 class="mrgb+ text-center">Partenaires</h1>
				<!--<div class="grid grid--multiline">
						<div class="container grid__item xs-mrgt"> modifier ici les classes pour affichage partenaires. rajouter sm-w-1/2 pour la grille </div>-->
							<a href="http://www.osirisfleurs.ch/" target="_blank">
								<img class="img-block img-resize align-center" src="{{ "/assets/images/osiris-capture.PNG" | prepend: site.baseurl }}">
							</a>
						</div>
				
			</div>
		</div>
	</div>
</section>