<footer class="section section--footer section--small footer">
  <div class="container">
	<div>
		&copy <script type="text/javascript"> document.write(new Date().getFullYear()); </script> - Let it shine!
    </div>
    <div class="social social__footer pull-right">
		<a href="mailto:masha@letitshine.ch"><i class="mdi mdi-email social__footer__link"></i></a>
		<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank"><i class="mdi mdi-facebook social__footer__link"></i></a>
		<a href="https://www.instagram.com/mashaletitshine/" target="_blank"><i class="mdi mdi-instagram social__footer__link"></i></a>
	</div>
  </div>
</footer>