<footer class="section section--small section--footer">
  <div class="container footer">
	<div>
		<p class="copyright">&copy Let it shine! <script type="text/javascript">document.write(new Date().getFullYear());</script><span class="rights"> - {{ t.footer.copyright }}</span></p>
    </div>
    <div class="social social__footer pull-right">
		<a href="mailto:masha@letitshine.ch"><i class="mdi mdi-email social__footer__link"></i></a>
		<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank"><i class="mdi mdi-facebook social__footer__link"></i></a>
		<a href="https://www.instagram.com/mashaletitshine/" target="_blank"><i class="mdi mdi-instagram social__footer__link"></i></a>
	</div>
  </div>
</footer>