<header class="header">
	<div class="container">
		<div class="header__desktop">
			<div class="nav">
				{% if page.lang == 'fr' %}
				<a href="/accueil.html" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo" alt="Logo Let it shine!">
				</a>
				{% endif %}
				{% if page.lang == 'en' %}
				<a href="/home.html" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo" alt="Logo Let it shine!">
				</a>
				{% endif %}
				<ul class="list-inline">
					{% if page.lang == 'fr' %}
					<li class="nav__item"><a href="/" class="nav__link" title="Accueil">{{ t.nav.home }}</a></li>
					<li class="nav__item"><a href="/organiser.html" class="nav__link" title="Comment organiser mon intérieur?">{{ t.nav.organize }}</a></li>
					<li class="nav__item"><a href="/decorer.html" class="nav__link" title="Comment décorer mon intérieur?">{{ t.nav.decorate }}</a></li>
					<li class="nav__item"><a href="/a-propos.html" class="nav__link" title="Let it quoi?">{{ t.nav.about }}</a></li>
					<li class="nav__item"><a href="/contact.html" class="nav__link" title="Je prends rendez-vous!">{{ t.nav.contact }}</a></li>
					{% endif %}
					{% if page.lang == 'en' %}
					<li class="nav__item"><a href="/home.html" class="nav__link" title="Home">{{ t.nav.home }}</a></li>
					<li class="nav__item"><a href="/organize.html" class="nav__link" title="Help me organize!">{{ t.nav.organize }}</a></li>
					<li class="nav__item"><a href="/decorate.html" class="nav__link" title="Help me decorate!">{{ t.nav.decorate }}</a></li>
					<li class="nav__item"><a href="/about.html" class="nav__link" title="Let it what?">{{ t.nav.about }}</a></li>
					<li class="nav__item"><a href="/contact-us.html" class="nav__link" title="I want a meeting!">{{ t.nav.contact }}</a></li>
					{% endif %}
				</ul>
				<div class="social social__header">
					{% if page.lang == 'fr' %}
					<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank" title="Suivez Let it shine! sur facebook!" rel="noopener noreferrer nofollow"><i class="pdgr mdi mdi-facebook social__header__link"></i><!--<img src="/assets/images/facebook.svg">--></a>
					<a href="https://www.instagram.com/mashaletitshine/" target="_blank" title="Suivez Let it shine! sur insta!" rel="noopener noreferrer nofollow"><i class="mdi mdi-instagram social__header__link"></i></a>
					{% endif %}
					{% if page.lang == 'en' %}
					<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank" title="Follow Let it shine! on Facebook!" rel="noopener noreferrer nofollow"><i class="pdgr mdi mdi-facebook social__header__link"></i></a>
					<a href="https://www.instagram.com/mashaletitshine/" target="_blank" title="Follow Let it shine! on Instagram!" rel="noopener noreferrer nofollow"><i class="mdi mdi-instagram social__header__link"></i></a>
					{% endif %}
				</div>
				<div class="mrgl+ flex flex-column language-box">
					{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
					{% for page in pages %}
						<a href="{{ page.url }}" class="idiom" >{{ page.lang }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="header__mobile">
			<div class="nav">
				{% if page.lang == 'fr' %}
				<a href="/accueil.html" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo" alt="Logo Let it shine!">
				</a>
				{% endif %}
				{% if page.lang == 'en' %}
				<a href="/home.html" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo" alt="Logo Let it shine!">
				</a>
				{% endif %}
				<button class="hamburger hamburger--spring" type="button" data-toggle="collapse" data-target="#collapse-container-nav" class="header__burger">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</div>

		<div id="collapse-container-nav" class="collapse">
			<div class="box box--primary">
				<ul class="list-stacked list-stacked--divided">
					{% if page.lang == 'fr' %}
					<li><a href="/organiser.html" class="nav__link" title="Comment organiser mon intérieur?">{{ t.nav.organize }}</a></li>
					<li><a href="/decorer.html" class="nav__link" title="Comment décorer mon intérieur?">{{ t.nav.decorate }}</a></li>
					<li><a href="/a-propos.html" class="nav__link" title="Let it quoi?">{{ t.nav.about }}</a></li>
					<li><a href="/contact.html" class="nav__link" title="Je prends rendez-vous!">{{ t.nav.contact }}</a></li>
					{% endif %}
					{% if page.lang == 'en' %}<li><a href="/organize.html" class="nav__link" title="Help me organize!">{{ t.nav.organize }}</a></li>
					<li><a href="/decorate.html" class="nav__link" title="Help me decorate!">{{ t.nav.decorate }}</a></li>
					<li><a href="/about.html" class="nav__link" title="Let it what?">{{ t.nav.about }}</a></li>
					<li><a href="/contact-us.html" class="nav__link" title="I want a meeting!">{{ t.nav.contact }}</a></li>
					{% endif %}
					{% if page.lang == 'fr' %}<li>
						<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank" title="Suivez Let it shine! sur facebook!" rel="noopener noreferrer nofollow"><i class="pdgr mdi mdi-facebook social social__header__link"></i></a>
						<a href="https://www.instagram.com/mashaletitshine/" target="_blank" title="Suivez Let it shine! sur insta!" rel="noopener noreferrer nofollow"><i class="mdi mdi-instagram social social__header__link"></i></a>
					</li>{% endif %}
					{% if page.lang == 'en' %}<li>
						<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank" title="Follow Let it shine! on Facebook!" rel="noopener noreferrer nofollow"><i class="pdgr mdi mdi-facebook social social__header__link"></i></a>
						<a href="https://www.instagram.com/mashaletitshine/" target="_blank" title="Follow Let it shine! on Instagram!" rel="noopener noreferrer nofollow"><i class="mdi mdi-instagram social social__header__link"></i></a>
					</li>{% endif %}
					<li>
						{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
						{% for page in pages %}
							<a href="{{ page.url }}" class="idiom pdgr text-uppercase" >{{ page.lang }}</a>
						{% endfor %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>