<header class="header">
	<div class="container">
		<div data-scroll-header class="header__desktop">
			<div class="nav">
				<a href="/letitshine/" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo" alt="Logo Let it shine">
				</a>
				<ul class="list-inline" class="nav__logo">
					<li class="nav__item"><a data-scroll href="#about" class="nav__link" title=""> {{ t.nav.about }} </a></li>
					<li class="nav__item"><a data-scroll href="#services" class="nav__link" title=""> {{ t.nav.services }} </a></li>
					<li class="nav__item"><a data-scroll href="#work" class="nav__link" title=""> {{ t.nav.work }} </a></li>
					<li class="nav__item"><a data-scroll href="#contact" class="nav__link" title=""> {{ t.nav.contact }} </a></li>
				</ul>
				<div class="social social__header pull-right">
					<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank"><i class="pdgr mdi mdi-facebook social__header__link"></i></a>
					<a href="https://www.instagram.com/mashaletitshine/" target="_blank"><i class="mdi mdi-instagram social__header__link"></i></a>
				</div>	
			</div>
		</div>

		<div class="header__mobile">
			<div class="nav">
				<a href="/letitshine/" class="nav__logo">
					<img src="{{ "/assets/images/LIS-logo.png" | prepend: site.baseurl }}" class="header__logo">
				</a>
				
				<button class="hamburger hamburger--spring" type="button" data-toggle="collapse" data-target="#collapse-container-nav" class="header__burger">
					<span class="hamburger-box">
						<span class="hamburger-inner">
						</span>
					</span>
				</button>
			</div>
		</div>

		<div id="collapse-container-nav" class="collapse">
			<div class="box box--primary">
				<ul class="list-stacked list-stacked--divided">
					<li><a href="#about" class="nav__link"> {{ t.nav.about }} </a></li>
					<li><a href="#services" class="nav__link"> {{ t.nav.services }} </a></li>
					<li><a href="#work" class="nav__link"> {{ t.nav.work }} </a></li>
					<li><a href="#contact" class="nav__link"> {{ t.nav.contact }} </a></li>
					<li>
						<a href="https://www.facebook.com/mashaletitshine-278190159779666/" target="_blank"><i class="pdgr mdi mdi-facebook social social__header__link"></i></a>
						<a href="https://www.instagram.com/mashaletitshine/" target="_blank"><i class="mdi mdi-instagram social social__header__link"></i></a>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</header>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var ContainerNavCollapse = document.querySelector('#collapse-container-nav');

    if (ContainerNavCollapse) {
      new Toolkit.Collapse(ContainerNavCollapse);
    }
  });
</script>

<script>
  // Look for .hamburger
  var hamburger = document.querySelector(".hamburger");
  // On click
  hamburger.addEventListener("click", function() {
    // Toggle class "is-active"
    hamburger.classList.toggle("is-active");
    // Do something else, like open/close menu
  });
</script>

