<header class="header section section--header">
	<div class="container header__desktop">
		<div class="grid">
			<div class="grid__item w-1/2 pdgl++">
				<a href="/letitshine/"><img src="{{ "/assets/images/logo-white.png" | prepend: site.baseurl }}" class="img-block img-resize__header"></a>
			</div>
			<div class="grid__item w-1/2">
				 <ul class="list-inline pdgt--">
					<li class="pdgh+ pdgb--"><a href="#about" class="nav"> {{ t.nav.about }} </a></li>
					<li class="pdgh+ pdgb--"><a href="#services" class="nav"> {{ t.nav.services }} </a></li>
					<li class="pdgh+ pdgb--"><a href="#contact" class="nav"> {{ t.nav.contact }} </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container header__mobile">
		<div class="grid">
			<div class="grid__item w-1/2">
				<a href="/letitshine/"><img src="{{ "/assets/images/logo-white.png" | prepend: site.baseurl }}" class="img-block img-resize__header"></a>
			</div>
			<div class="grid__item w-1/2">
				<a href="#" data-toggle="collapse" data-target="#header__mobile-links">burger</a>
			</div>
		</div>

		<div id="header__mobile-links" class="collapse">
			 <ul class="list-stacked list-stacked--divided text-center">
				<li class="pdgh+ pdgb--"><a href="#about" class="nav"> {{ t.nav.about }} </a></li>
				<li class="pdgh+ pdgb--"><a href="#services" class="nav"> {{ t.nav.services }} </a></li>
				<li class="pdgh+ pdgb--"><a href="#contact" class="nav"> {{ t.nav.contact }} </a></li>
			</ul>
		</div>
	</div>
</header>
