{% assign t = site.data.translations[page.lang] %}

<section class="home">
	
	<div class="grid grid--center">
		<div class="sm-w-1/2 md-w-1/3 lg-w-1/4 grid__item">
			<div class="box box--default box--tiny text-center">
				<img src="{{ "/assets/images/femme-small.jpg" | prepend: site.baseurl }}">
			</div>
		</div>
		
		<div class="sm-w-1/2 md-w-1/3 lg-w-1/4 grid__item xs-mrgt">
			<div class="box box--default box--tiny text-center">
				<p>{{ t.home.about }}</p>
			</div>	
		</div>
	</div>

</section>



<section class="services">

<div class="container">
    <div class="grid grid--center grid--even grid--multiline text-center">
        <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
            <div class="box box--default pusher pusher--vertical">
                <div class="pusher__body mrgb">
                    <h3 class="mrgt0 mrgb">Mariages</h3>
                    <img src="assets/images/wedding.jpg" class=tile__image><br>
                    <ul class="list-stacked list-stacked--small list-stacked--divided">
                        <li>Sit nulla nemo sapiente.</li>
                        <li>Amet iusto ipsum praesentium!</li>
                        <li>Possimus quae, illo quaerat?</li>
                        <li>Error rem, amet id.</li>
                    </ul>
                </div>
                <a href="#" class="btn btn--primary btn--block">Pick me!</a>
            </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
            <div class="box box--primary pusher pusher--vertical">
                <div class="pusher__body mrgb">
                    <h3 class="mrgt0 mrgb">&Eacute;vénements</h3>
                    <img src="assets/images/bachelorette.jpg" class=tile__image><br>
                    <ul class="list-stacked list-stacked--small list-stacked--divided">
                        <li>Sit nulla nemo sapiente.</li>
                        <li>Amet iusto ipsum praesentium!</li>
                        <li>Possimus quae, illo quaerat?</li>
                        <li>Error rem, amet id.</li>
                    </ul>
                </div>
                <a href="#" class="btn btn--default btn--block">Pick me!</a>
            </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
            <div class="box box--default pusher pusher--vertical">
                <div class="pusher__body mrgb">
                    <h3 class="mrgt0 mrgb">Décoration</h3>
                    <img src="assets/images/decoration.jpg" class=tile__image><br>
                    <ul class="list-stacked list-stacked--small list-stacked--divided">
                        <li>Sit nulla nemo sapiente.</li>
                        <li>Amet iusto ipsum praesentium!</li>
                        <li>Possimus quae, illo quaerat?</li>
                        <li>Error rem, amet id.</li>
                    </ul>
                </div>
                <a href="#" class="btn btn--primary btn--block">Pick me!</a>
            </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
            <div class="box box--default pusher pusher--vertical">
                <div class="pusher__body mrgb">
                    <h3 class="mrgt0 mrgb">Architecture & Design</h3>
                    <img src="assets/images/architecture.jpg" class=tile__image><br>
                    <ul class="list-stacked list-stacked--small list-stacked--divided">
                        <li>Sit nulla nemo sapiente.</li>
                        <li>Amet iusto ipsum praesentium!</li>
                        <li>Possimus quae, illo quaerat?</li>
                        <li>Error rem, amet id.</li>
                    </ul>
                </div>
                <a href="#" class="btn btn--primary btn--block">Pick me!</a>
            </div>
        </div>
    </div>
</div>

</section>


<section class="contact">

	<div class="grid grid--center">
		<div class="sm-w-1/2 md-w-1/3 lg-w-1/4 grid__item">
			<div class="box box--default box--tiny text-center">
				<h2>Contact</h2>
				<h3 class="align-right">Let it Shine!</h3>
				<p>1004, Lausanne</p>
				<p>masha@letitshine.ch</p>
			</div>
		</div>
		
		<div class="sm-w-1/2 md-w-1/3 lg-w-1/4 grid__item xs-mrgt">
			<div class="box box--default box--tiny text-center">
				<img src="{{ "/assets/images/femme-small.jpg" | prepend: site.baseurl }}">
			</div>	
		</div>
	</div>	

</section>