<section class="section section--brand section--huge" id="services">
	<div class="container">
		<h1 class="section__title mrgb++ text-center">Services</h1>
		<div class="grid grid--even grid--multiline text-center">
			<div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.weddings.title }}</h3>
						<img src="assets/images/wedding.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.weddings.item-1 }}</li>
							<li>{{ t.services.weddings.item-2 }}</li>
							<li>{{ t.services.weddings.item-3 }}</li>
							<li>{{ t.services.weddings.item-4 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Pick me!</a>
				</div>
			</div>
			<div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.events.title }}</h3>
						<img src="assets/images/bachelorette.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.events.item-1 }}</li>
							<li>{{ t.services.events.item-2 }}</li>
							<li>{{ t.services.events.item-3 }}</li>
							<li>{{ t.services.events.item-4 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Pick me!</a>
				</div>
			</div>
			<div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.decoration.title }}</h3>
						<img src="assets/images/decoration.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.decoration.item-1 }}</li>
							<li>{{ t.services.decoration.item-2 }}</li>
							<li>{{ t.services.decoration.item-3 }}</li>
							<li>{{ t.services.decoration.item-4 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Pick me!</a>
				</div>
			</div>
			<div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.design.title }}</h3>
						<img src="assets/images/architecture.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.design.item-1 }}</li>
							<li>{{ t.services.design.item-2 }}</li>
							<li>{{ t.services.design.item-3 }}</li>
							<li>{{ t.services.design.item-4 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Pick me!</a>
				</div>
			</div>
		</div>
	</div>
</section>
