<section class="section section--huge" id="services">
	<div class="container">
		<h1 class="section__title mrgb++ text-center">Services</h1>

		<div class="media media--responsive">
    		<div class="media__left">
        		<img src="https://placehold.it/200x200">
    		</div>
    		<div class="media__body">
        		<h2 class="mrgt--">Home Organizer</h2>
        		<p class="mrgt0">Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.</p>
        
    		</div>
		</div>

		<!--
		<div class="grid grid--even grid--multiline text-center">
			<div class="grid__item sm-w-1/2">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.organisation.title }}</h3>
						<img src="assets/images/bachelorette.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.organisation.item-1 }}</li>
							<li>{{ t.services.organisation.item-2 }}</li>
							<li>{{ t.services.organisation.item-3 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Détails</a>
				</div>
			</div>
			<div class="grid__item sm-w-1/2">
				<div class="box box--default pusher pusher--vertical">
					<div class="pusher__body mrgb">
						<h3 class="mrgt0 mrgb">{{ t.services.design.title }}</h3>
						<img src="assets/images/decoration.jpg" class="img-block"><br>
						<ul class="list-stacked list-stacked--small list-stacked--divided">
							<li>{{ t.services.design.item-1 }}</li>
							<li>{{ t.services.design.item-2 }}</li>
						</ul>
					</div>
					<a href="#" class="btn btn--primary btn--block">Détails</a>
				</div>
			</div>
		</div>-->
	</div>
</section>

<!--
<div class="grid__item sm-w-1/2 md-w-1/3">
	<div class="box box--default pusher pusher--vertical">
		<div class="pusher__body mrgb">
			<h3 class="mrgt0 mrgb">{{ t.services.organizer.title }}</h3>
			<img src="assets/images/espace.jpg" class="img-block"><br>
			<ul class="list-stacked list-stacked--small list-stacked--divided">
				<li>{{ t.services.organizer.item-1 }}</li>
				<li>{{ t.services.organizer.item-2 }}</li>
				<li>{{ t.services.organizer.item-3 }}</li>
			</ul>
		</div>
		<a href="#" class="btn btn--primary btn--block">Détails</a>
	</div>
</div>
-->