<section id="work" class="section section--huge">
	<div class="container">
		<h1 class="section__title mrb+">{{ t.work.title }}</h1>

		<div class="swiper-container swiper-container-horizontal mrgv++">
		    <div class="swiper-wrapper">
					{% for work in site.data.work %}
			      <img src="{{ work.image | prepend:site.baseurl }}" alt="{{ work.alt }}" class="swiper-slide">
					{% endfor %}
		    </div>
		    <div class="swiper-pagination"></div>

		    <i class="mdi mdi-chevron-left swiper-button-prev"></i>
		    <i class="mdi mdi-chevron-right swiper-button-next"></i>
			</div>
		</div>

		<h2 class="text-center">{{ t.work.quotes.title }}</h2>
		<div class="testimony box box--default pdgv+">
			<div class="container md-pdgh++">
				<div class="media media--responsive">
					<div class="media__left text-center">
						{% for testifiers in site.data.testifiers %}
						<img src="{{ testifiers.image | prepend:site.baseurl }}" alt="{{ testifiers.alt }}" class="media__img testimony__img">
						{% endfor %}
						<p>{{ t.work.quotes.testifier-name-1 }}<br>{{ t.work.quotes.testifier-function-1 }}<br><span class="text-italic">{{ t.work.quotes.testifier-children-1 }}</span></p>
					</div>
					<div class="media__body lg-pdgv">
						<q class="testimony__content text-bold mrg0">{{ t.work.quotes.quote-1 }}</q>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>