<section class="section section--huge" id="work">
	<h1 class="section__title mrgb++">{{ t.work.title }}</h1>
	<div class="box box--default" style="height:500px;background-color:grey"></div>
	<h2 class="text-center">{{ t.quotes.title }}</h2>
	<div class="testimony box box--default pdgv+">
		<div class="container md-pdgh++">
			<div class="media media--responsive">
				<div class="media__left">
					<img src="assets/images/sacha.jpg" class="media__img testimony__img">
				</div>
				<div class="media__body">
					<q class="testimony__content text-bold mrg0">{{ t.quotes.quote-1 }}</q>
				</div>
			</div>
		</div>
	</div>
</section>