<section class="section section--huge" id="work">
	<h1 class="section__title mrgb++">{{ t.work.title }}</h1>
	
	<div class="container mrgv+">
	<!-- Slider main container -->
		<div class="swiper-container swiper-container-horizontal">
	    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper">
		        <!-- Slides -->
				{% for works in site.data.works %}
		        	<img src="{{ works.image | prepend:site.baseurl }}" title="{{ title }}" class="swiper-slide">
				{% endfor %}
		    </div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination"></div>

		    <!-- If we need navigation buttons -->
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>

		    <!-- If we need scrollbar
		    <div class="swiper-scrollbar"></div>
			</div> -->
	</div>
	
	<h2 class="text-center mrgv++">{{ t.quotes.title }}</h2>
	<div class="testimony box box--default pdgv+">
		<div class="container md-pdgh++">
			<div class="media media--responsive">
				<div class="media__left">
					<img src="assets/images/sacha.jpg" class="media__img testimony__img">
				</div>
				<div class="media__body">
					<q class="testimony__content text-bold mrg0">{{ t.quotes.quote-1 }}</q>
				</div>
			</div>
		</div>
	</div>
</section>