/*----------------------------------------*\
  RESIZE
\*----------------------------------------*/

.resize{}
	.resize__sm{
		max-width: 50%;
	}

	.resize__md{
		max-width: 60%;
	}

	.resize__lg{
		max-width: 70%;
	}