/*----------------------------------------*\
  TESTIMONY
\*----------------------------------------*/

.testifier{
	border-radius: 50%;
	max-width: 30%;
	border: solid .7px $element-color;
}

.quotes{
	font-family: Arizonia;
	font-size: 2em;
	font-weight: bold;
	padding-bottom:-5%;
}