/*----------------------------------------*\
  TEXT
\*----------------------------------------*/

.text-alt-white {
  color: $alt-white;
}

.text-alt-black {
  color: $alt-black;
}

h1 {
  text-align: left;
  overflow: hidden;
}

@include media('md') {
  h1 {
    text-align: center;
  }

  h1:before, h1:after {
    background-color: $alt-black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
  }

  h1:before {
    right: 3%;
    margin-left: 0 ;
  }

  h1:after { 
    left: 3%;
    margin-right:0;
  }
}


h3 {
  color: $alt-color-dark;
  margin-top: .5em;
  margin-bottom: 1em;
}

.quotes{
  font-family: Arizonia;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: -5%;
}