/*----------------------------------------*\
  TEXT
\*----------------------------------------*/

.text-alt-white {
  color: $alt-white;
}

.text-alt-black {
  color: $alt-black;
}

.about{
	font-size: 20px;
}