---
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
sections:
- type: directory
  path: saka04/letitshine/_data
  label: Let it shine!
  create: all
  match: "**/*"
- type: heading
  label: Textes
- type: document
  path: saka04/letitshine/_data/translations.yml
  label: Contenu
upload_dir: forestryio/images
public_path: "{{ site.baseurl }}/forestryio/images"
front_matter_path: "/forestryio/images"
use_front_matter_path: true
file_template: ":filename:"
instant_preview: true
build:
  preview_command: bundle exec jekyll build --drafts --unpublished --future -d _site
  publish_command: bundle exec jekyll build -d _site
  preview_env:
  - JEKYLL_ENV=staging
  publish_env:
  - JEKYLL_ENV=production
  preview_output_directory: _site
  output_directory: _site
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    --port 8080 --host 0.0.0.0 -d _site
