---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseUrl: "{{ site.baseurl }}";

@charset "utf-8";

// Kanbasu
@import "../node_modules/kanbasu/src/scss/settings/settings";
@import "kanbasu";

// Hamburger & settings
// $hamburger-layer-color: $white;
// $hamburger-padding-y: 32px;
// $hamburger-hover-opacity: 1;
// @import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

// Fonts
// @import 'https://fonts.googleapis.com/css?family=Lato|Montserrat|Ubuntu';

// Default
@import "default/default";

// Helpers

// Components