/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

.subserv{
	padding: $btn-small-padding;
	margin-right: 1.3rem;
	margin-bottom: 1.3rem;
	color: $alt-black;
	background-color: $alt-white;
	border-bottom: double 2px $element-color;
	transition-duration: 0.6s;

	&:hover {
		background-color: $alt-white;
		border-bottom: double 2px $alt-black;
	}

	&:focus {
		background-color: $alt-white;
		border-top: double 2px;	
		border-left: double 2px;
		border-right: double 2px;
		border-bottom: none;
	}
}