/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

.img-resize{
	max-width: 50%;
}
	.img-resize__about{
		max-width: 30%;
	}

	.img-resize__header{
		max-width: 70%;
	}

.banner{
	position:relative;
	width: 100%;
}