/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

.img-resize{
	max-width: 60%;
}
	.img-resize__header{
		max-width: 10%;
	}

h3{
	font-weight: bold;
}