/*----------------------------------------*\
  DEFAULT
\*----------------------------------------*/

.img-resize{
	max-width: 50%;
}
	.img-resize__sm{
		max-width: 50%;
	}

	.img-resize__md{
		max-width: 60%;
	}

	.img-resize__lg{
		max-width: 80%;
	}


.subserv{
	padding:$btn-small-padding;
}
