/*----------------------------------------*\
  ABOUT
\*----------------------------------------*/

.about{
	font-size: 18px;
}

/*
.border-small{
    border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
    border-image-slice: 1;
    border-image-width: 3px;
}
*/