/*----------------------------------------*\
  ABOUT
\*----------------------------------------*/

.about{
	position:absolute;
	top:50%;
	left:50%;
	color:$alt-white;
	background: rgba(0, 0, 0, 0.5);
}