/*----------------------------------------*\
  ABOUT
\*----------------------------------------*/

.about{
	position:absolute;
	top:60%;
	left:60%;
	color:$alt-white;
	background: rgba(0, 0, 0, 0.5);
}