/*----------------------------------------*\
  BANNER
\*----------------------------------------*/


.banner{
    width: 100%;
    height: 100vh;
	position: relative;
	background: url(images/deco_019.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	top: 30px;
}

.bannertext{
	position: absolute;
	width: 100%;
	bottom: 25%;
	font-size: 1.5em;
	text-align: center;
	color: $alt-white;
	background: rgba(0, 0, 0, 0.5);
}