/*----------------------------------------*\
  BANNER
\*----------------------------------------*/


.banner{
	width: 100%;
	height: 105vh;
	background: url(images/flowers-and-candles.jpg);
	background-position: center;
	background-size: cover;
	position: relative;

	@include media ('lg'){
	max-width: 1400px;
	max-height: 800px;		
	margin: 0 auto;
	}
}

.bannertext{
	position: absolute;
	bottom: 15%;
	left: 15%;
	right: 15%;
	font-size: 1.4em;
	text-align: center;
	color: $alt-white;
	background: rgba(0, 0, 0, 0.65);

	@include media ('md'){
		bottom: 20%;
	}
	
	@include media ('lg'){
		bottom: 30%;
		left: 20%;
		right: 20%;
	}
}