/*----------------------------------------*\
  BANNER
\*----------------------------------------*/


.banner{
	width: 100%;
	height: 100vh;
	background: url(images/deco_019.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.bannertext{
	position: absolute;
	bottom: 20%;
	left: 15%;
	right: 15%;
	font-size: 1.4em;
	text-align: center;
	color: $alt-white;
	background: rgba(0, 0, 0, 0.6);
}