/*----------------------------------------*\
  BANNER
\*----------------------------------------*/


.banner{
    width:100%;
    height:90vh;
}

.banner-home{
	position:relative;
	background:url(images/deco_019.jpg);
	background-position:center;
	background-size:cover;
}

.bannertext{
	position:absolute;
	top:60%;
	left:55%;
	color:$alt-white;
	background:rgba(0, 0, 0, 0.5);
}