/*----------------------------------------*\
  BUTTONS
\*----------------------------------------*/

.btn--service{
	color: $alt-black;
	border: 2px double $alt-color;
	background-color: $alt-white;

	&:hover{
		font-weight: bold;
		border: 2px double $element-color;
	}
}


.btn--form{
	background-color: $validate;
	border: 2px double $validate;
	color: $alt-white;

	@include media(sm){
		background-color: $alt-white;
		color: $validate;
	}

	&:hover{
		color: $alt-white;
		background-color: $validate;
		transform: scale(1.04);
	}
}