/*----------------------------------------*\
  COLLAPSE
\*----------------------------------------*/

.collapse {
  max-width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;

  transition: height .1s cubic-bezier(.17,.67,.24,1);

  &.transitioning,
  &.calculating,
  &.active {
    max-width: none;
  }

  &.calculating {
    height: auto !important;
    min-height: 0 !important;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &.active {
    overflow: visible;
    height: auto;
  }
}
