/*----------------------------------------*\
	CONTACT
\*----------------------------------------*/

.contact{
	text-align: center;
	font-size: 18px;
}

a.contact {
	color: $alt-color;
	text-decoration: none;
} /*affichage clean des noms des partenaires sous leur logo*/

