/*----------------------------------------*\
  CONTACT
\*----------------------------------------*/

address a{
	color: $alt-color;
	text-decoration: none;

	&:hover{
		font-weight: bold;
	}
}

.partner{
  	max-width: 300px;
	opacity: .5;
	border: 2px solid $alt-color;
	border-radius: 3px;

	&:hover{
		opacity: .8;
	}
}