/*----------------------------------------*\
	FOOTER
\*----------------------------------------*/

.footer {
	display: flex;
	justify-content: space-between;
	color: $alt-white;
}
	.footer__link {
		color: $alt-white;
	}

.copyright{
	margin: 0;

	@media screen and (max-width: 350px){
		display: none;
	}
}