/*----------------------------------------*\
  HEADER
\*----------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  background-color: $alt-white;
  z-index: 100;
  border-bottom: 1px solid $alt-color-lighter;
}

.header__desktop,
.header__mobile {
  padding: 10px 0;
}

.header__onscroll{
  padding: $spacing-unit-tiny 0;
}


.header__desktop {
  display: none;

  @include media('md') {
    display: block;
  }
}

.header__mobile {
  display: block;

  @include media('md') {
    display: none;
  }
}

.header__logo {
  max-width: 200px;
}

.language-box{
  width: 25px;
}