/*----------------------------------------*\
  MEDIA
  Override media component from Kanbasu
\*----------------------------------------*/

.media{}
  .media__right,
  .media__left{
    width: 100%;

    @include media('md'){
      width: auto;
    }
  }

  .media__img{
    max-width: 250px;
    margin: 0 auto;
  }

  .media__home {
    height: 150px;
    width: 150px;
    margin: 1em auto;
    border-radius: 50%;
    border: solid 1px $element-color;
    padding: $spacing-unit-tiny;
  }

  .media__portrait{
    max-width: 300px;
    max-height: 250px;
    padding: 20px;
    border: 1px solid $alt-color;
    margin: 0 auto;
  }