/*----------------------------------------*\
  NAV
\*----------------------------------------*/

.nav {
  display: flex;
}

  .nav__logo {
    flex-grow: 1;
  }

  .nav__item + .nav__item {
    padding-left: $spacing-unit-large;
  }

  .nav__link {
  	font-size: rem(20px);
  	color: $alt-color-dark;
  	text-decoration: none;

  	&:hover {
  		color: $alt-color-darker;
  	}
  }

