/*----------------------------------------*\
  NAV
\*----------------------------------------*/

.nav {
  display: flex;
}

  .nav__logo {
    flex-grow: 1;
  }

  .nav__item + .nav__item {
    padding-left: $spacing-unit-small;
    border-left: $list-separator-style;
  }

  .nav__link {
    display: block;
    line-height: 3em;
    font-size: rem(20px);
  	color: $alt-color;
    font-weight: bold;
  	text-decoration: none;

  	&:hover {
  		color: $alt-color-light;
  	}
  }

