/*----------------------------------------*\
  SECTION
\*----------------------------------------*/

.section {}
  .section__title {
    color: $alt-black;
  }

.section--brand {
  background-color: $second-brand-color;
}

.section--small {
  padding: $spacing-unit-small 0;
}

.section--large {
  padding: $spacing-unit-large 0;
}

.section--huge {
  padding: $spacing-unit-huge 0;
}

.section--header {
  width: 100%;
  position: fixed;
  background-color: $alt-white;
  z-index: 1;

  a {
    color: $alt-black;
    font-weight: normal;
  }
}

.section--footer {
   background-color: $second-brand-color;
}