/*----------------------------------------*\
  SECTION
\*----------------------------------------*/

.section {}
  .section__title {
    color: $alt-white;
  }

.section--brand {
  background-color: $brand-color;
}

.section--small {
  padding: $spacing-unit-small 0;
}

.section--huge {
  padding: $spacing-unit-huge 0;
}

.section--header {
  width: 100%;
  position: fixed;
  background-color: $second-brand-color;

  a {
    color: white;
  }
}