/*----------------------------------------*\
  SUBSERV
\*----------------------------------------*/

.services{
	color: $alt-black;
	text-decoration: none;
	margin-right: 1.3rem;
	border-bottom: double 2px $element-color;
	transition-duration: 0.6s;

	&:hover {
		border-bottom: double 2px $alt-black;
	}

	&:focus{
		border: none;
		border-left: double 2px;

		@include media (sm){
			border: none;
			border-top: double 2px;
		}
	}
}

	.services__list{

		@include media (sm){
			display: inline-flex;
		}
	}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	border-left: double 2px $alt-black;
	border-bottom: none;
	animation: fadeEffect .6s;
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}