{% assign t = site.data.translations[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  </head>
  <body class="{{ page.body-class }}">
    <span class="hidden">
      {% include lenny-face.html %}
    </span>

    <!-- Icon SVG code -->
    {% include icon-svg.html %}

    <!-- Header nav -->
    <header>
      <div class="box box--primary">
        <div class="media">
          <div class="media__left">
            <a href="/letitshine/"><img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" class="img-block"></a>
          </div>
          <div class="media__body" style="position:relative;left:400px;top:30px">
            <h2 class="mrg0">{{ t.home.intro.title }}</h2>
          </div>
        </div>
      </div>
    </header>

    <!-- I'm the master -->
    <div class="master">
      {{ content }}
    </div>

    <!-- Footer -->
    <footer class="master-footer">
      <p class="footer pull-left">
        <a href="/letitshine/">Let it shine!</a> &copy 
        <script type="text/javascript"> document.write(new Date().getFullYear()); </script> -
        <a href="mailto:masha@letitshine.ch">Contact</a>
      </p>
    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ '/assets/javascripts/bundle.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
